.header{
  margin: 0;
  background-color: rgb(126, 167, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 3rem;
}
.logo{
  font-weight: 800;
  font-size: 1.8rem;
  margin-left: 20px;
}

.header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.header-right div{
  padding-right: 10px;
}
