#main{
  position: relative;
}

.background-image{
  background-image: url(../img/main-back.jpg);
  height: 46rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-shape{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 86, 136, 0.308);
}

