#body{
  background-color: white;
  margin: 20px auto;
  width: 55rem;
  height: 35rem;
  border-radius: 20px;
  border: 1px solid rgb(126, 167, 255);
  padding: 20px;
}

#random-body{
  width: 50rem;
  margin: 0 auto;
  text-align: center;
}

#random-title{
  color: rgb(126, 167, 255);
  text-align: center;
  margin-bottom: 10px;
}

#random-table {
  width: 40rem;
  text-align: center;
  margin: 10px auto;
}
#random-title-media{
  width: 16rem;
}
#random-pd{
  width: 5rem;
}
#random-content{
  width: 5rem;
}
#random-genre{
  width: 9rem;
}
#random-rating{
  width: 5rem;
}

#random-table th{
  background-color:  rgb(126, 167, 255);
  color: white;
}

#random-table, #random-table tr, #random-table td, #random-table th{
  border-collapse: collapse;
}

#random-table td, #random-table th{
  padding: 5px;
}

#random-table tr:nth-child(2n+1){
  background-color: rgb(212, 212, 212);
}
#random-table tr:nth-child(2n){
  background-color: rgb(241, 241, 241);
}

#reset-button {
  background-color: rgb(126, 167, 255);
  color: white;
  width: 100px;
  height: 35px;
  margin: 20px auto;
  border-radius: 5px;
}

#reset-button:active{
  background-color: rgb(161, 161, 161);
}