/* body는 list에 있는 스타일 이용 */

#ranking-body{
  width: 50rem;
  margin: 0 auto;
}

#ranking-title{
  color: rgb(126, 167, 255);
  text-align: center;
  margin-bottom: 10px;
}

#ranking-table {
  width: 45rem;
  text-align: center;
  margin: 10px auto;
}
#ranking-num{
  width: 5rem;
}
#ranking-title-media{
  width: 16rem;
}
#ranking-pd{
  width: 5rem;
}
#ranking-content{
  width: 5rem;
}
#ranking-genre{
  width: 9rem;
}
#ranking-rating{
  width: 5rem;
}

#ranking-table th{
  background-color:  rgb(126, 167, 255);
  color: white;
}

#ranking-table, #ranking-table tr, #ranking-table td, #ranking-table th{
  border-collapse: collapse;
}

#ranking-table td, #ranking-table th{
  padding: 5px;
}

#ranking-table tr:nth-child(2n+1){
  background-color: rgb(212, 212, 212);
}
#ranking-table tr:nth-child(2n){
  background-color: rgb(241, 241, 241);
}

.page-button {
  width: 100px;
  margin: 20px auto;
  text-align: center;
}

#left-button, #right-button {
  background-color: rgb(126, 167, 255);
  color: white;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

#left-button:active, #right-button:active{
  background-color: rgb(161, 161, 161);
}